<launch>
  <!-- <rosparam command="load" file="$(find log_writer)/config/params.yaml" /> -->
  <!-- <param name="log_path" value="$(dirname)/../logData"/> -->
  <param name="log_path" value="$(env HOME)/qingwei-L4-No2/logData"/>
  <node name="calib_logger_node" pkg="calib_logger" type="calib_logger_node" output="screen" />
</launch>
