<launch>	
    <param name="task_file" value="$(find robot)/param/"/>
    <param name="config_file" value="$(find robot)/param/config.yaml"/>
    <arg name="config_para_file" default="$(find robot)/param/config.yaml"/>
    <rosparam file="$(arg config_para_file)" command="load"/>
    <node pkg="robot" type="task_plan_node" name="task_plan_node" output="screen">
    </node>
</launch>




























